

.custom-padding-section {
    padding: 35px 0;
}
section {
    padding: 60px 0;
    position: relative;
    display: block;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1350px)
{
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
    .offset-lg-2 {
        margin-left: 16.666667%;
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
    .d-sm-block {
        display: block !important;
    }
}
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-8 offset-lg-2{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.main-title {
    margin-bottom: 20px;
}
.main-title {
    position: relative;
    margin-bottom: 60px;
}

.text-center {
    text-align: center !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}
.main-title h3 {
    text-transform: uppercase;
}
.main-title h3 {
    display: inline-block;
    font-family: Nunito;
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 0;
}
.mt0 {
    margin-top: 0 !important;
}
.main-title p {
    margin-bottom: 0;
}
.alpha-pag {
    background: #fff;
    margin-bottom: 35px;
    text-align: center;
}