.course-background-container {
    background-color: #f9f9f9;
    padding: 20px 0;
  }
  
  .course-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.1);
    height: 100%; /* Thiết lập chiều cao cho mỗi Card */
    transition: box-shadow 0.3s ease; /* Thêm hiệu ứng chuyển đổi mềm mại */
    
  }
  
  .course-content {
    flex-grow: 1; /* Lấp đầy không gian còn trống */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  
  .enroll-button {
    height: 50px; /* Đặt chiều cao cố định cho nút Enroll */
  }
  
  .course-item:hover {
    transform: scale(1.05); /* Tăng kích thước của Card lên khi hover */
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2); /* Tăng độ đậm và độ mờ của hiệu ứng đổ bóng khi hover */

  }

  /* remind component style */

  .video-card {
    width: 100%; /* Khung chứa nội dung khóa học sẽ chiếm toàn bộ chiều rộng của phần tử cha */
    max-width: auto; /* Đặt kích thước tối đa cho mỗi khung chứa nội dung khóa học */
    margin: 10px; /* Tạo khoảng cách giữa các khung chứa */

  }

/* recommend component style */
  .course-info-wrapper {
    width: 100%; /* hoặc giá trị phần trăm mong muốn */
    max-width: 900px; /* hoặc giá trị tối đa mong muốn */
    padding: 20px; /* Thêm padding */
  }
  
  .course-card {
    margin-bottom: 10px; /* Thêm margin dưới cho card */
  }
  
/* learning page */
